.main-wrapper-card{
    background-image: url(src/assets/clould.jpg);
    /* background-blend-mode: luminosity; */
    background-position:center bottom;
    background-size: cover;
    height: 50%;
    width: 20% !important;
    margin: 0 auto;
    box-shadow: 0 0 50px #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px !important;
}
.temperature{
    font-size: 80px;
}
.circle-icon{
    background-color: rgb(233, 201, 22);
    border-radius:50%;
    width: 5%;
    height: 5%;
}
.active{
    color: rgb(233, 201, 22);
}


