<div class="main-wrapper-card card border-0 rounded-3 w-25 h-75">
    <!-- Main top -->
    <div class="container">
      <div class="row p-3">
        <div class="col">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="col d-flex justify-content-center">
          Weatherman
        </div>
        <div class="col d-flex justify-content-end">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
      </div>
    </div>
    <div class="place p-2">
        <div class="mid-top d-flex justify-content-center">Gurgaon</div> 
        <div class="mid-bottom d-flex justify-content-center">Wednesday, Feb 22, 2022</div>
    </div>
    <div class="temperature text-center p-2">
        19°C
    </div>
    <hr style="">
    <div class="Weather-temp p-2">
        <div class="mid-top d-flex justify-content-center">Cloudy</div> 
        <div class="mid-bottom d-flex justify-content-center">18°C/19°C</div>
    </div>
    <div class=" container circle-icon d-flex justify-content-center align-items-center p-3 ">
        <i class="fa-solid fa-0 text-center  "></i>
    </div>
    <div class="days text-center">
        <div class="container">
            <div class="row p-3">
              <div class="col d-flex  flex-column">
                <i class="fa-solid fa-cloud"></i>
                <div class="daily  ">
                  <p>Today</p>
                  <p>cloudy</p></div>
              </div>
              <div class="col d-flex  flex-column">
                <i class="fa-solid fa-sun"></i>
                <div class="daily">
                  <p>Friday</p>
                  <p>Sunny</p></div> 
              </div>
              <div class="col d-flex  flex-column">
                <i class="fa-solid fa-cloud-rain"></i>
                <div class="daily">
                  <p>Saturday</p>
                  <p>rainy</p></div>
              </div>
            </div>
          </div>
    </div>
  </div> 




  