.main-wrapper{
    background-image:linear-gradient(to right bottom, rgb(239, 8, 247,-0.2), rgb(74, 13, 216,1.8)), url(src/assets/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* filter: blur(2px) */
}
